# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Data
*.csv
*.jpg
*.sqlite
*.npy
*.keras

# Outputs
outputs/

# TensorFlow Lite Micro
tflite-micro/

# Jupyter
.ipynb_checkpoints/