# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store
IA/

# Data
*.csv
*.jpg
*.sqlite
*.npy
*.keras
*.h5
*tflite

# Outputs
outputs/

# TensorFlow Lite Micro
tflite-micro/

# Jupyter
.ipynb_checkpoints/