# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store
IA/

# Data
*.csv
*.jpg
*.sqlite
*.npy
*.keras
*.h5
*tflite
*.npz
*.json

# Outputs
outputs/

# TensorFlow Lite Micro
tflite-micro/
bazel-downloads/

# Jupyter
.ipynb_checkpoints/

#miscellaneous
exp7/rosbag/*
exp8/arduino
LABCA/gesture-cmd
gesture_model_int8.h
dataset.txt
.venv-gesture/
CHRONOLOGICAL_PROJECT_LOG.
